<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://raw.github.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
<body>
{{ script|safe }}

<h1>Values</h1>
<!-- This is where we could display as a wordcloud based on frequency
			need some static js to do that work with the list handed in -->
<p>When you think of the times in your life where you’ve been the happiest, the proudest, or the most satisfied, which of the following values come to mind?</p>

<p>Pick one and write a couple of sentences about why one of the values you chose is important to you.</p>

{% if values_list %}
    <ul>
    {% for value in values_list %}
        <li><a href="{% url 'detail' value.id %}">{{ value.value }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No values are available.</p>
{% endif %}
</body>
</html>